html {
  scroll-behavior: smooth;
}

#btn-top {
  z-index: 10;
  position: sticky;
  bottom: 10px;
  margin-bottom: 5px;
  float: right;
  display: none;
}

#btn-video {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.btn {
  margin: 2px;
}

.btn-info {
  border: 1px solid #02749c !important;
}

.btn-warning {
  border: 1px solid #79377c !important;
}

.btn-default {
  border: 1px solid #2e2f2f !important;
}

.btn-success {
  border: 1px solid #2f6405 !important;
}

.breaklinks {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.extendable-section > a:after {
  font-family: FontAwesome;
  font-size: smaller;
  content:" \f106";
}
.extendable-section > a.collapsed:after {
  content:" \f107";
}

a.noline {
  border-bottom: none !important;
  text-decoration: none !important;
}

.bg-tag {
    background-color: #f4f4f4;
    color: #444444;
    border: 1px solid #444444;
}

#news ul {
  padding-inline-start: 20px;
  list-style-type: disc;
}

#news li {
  padding-top: 5px;
}

@media (prefers-color-scheme: dark) {

  body {
    color: #cbcbcb;
    background: #31363B;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fcfcfc;
  }

  .img-thumbnail {
    background: transparent;
    border-color: #555555;
  }

  .well {
    background-color: #2A2E32;
    border-color: #555555;

  }

  .navbar-default {

    background-color: #2A2E32;
    border-color: #444444;
  }

  .navbar-default .navbar-brand {
    color: #fcfcfc;
  }

  .navbar-default .navbar-nav > li > a {
    color: #cbcbcb;
  }

  pre {
    background-color: #2A2E32;
    border-color: #555555;
    color: #fcfcfc;
  }

  .alert-info {
    background-color: #3a87ad;
    color: #d9edf7;
    border-color: #bce8f1;
  }

  .alert-warning {
    color: #fcf8e3;
    background-color: #c09853;
    border-color: #fbeed5;
  }

  .close {
    color: #cbcbcb;
    text-shadow: 0 1px 0 #000;
  }

}

#video-container {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: url("/images/icub_compound.webp");
  background-size: cover;
  z-index: 1;
}

#video-container video {

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


#banner {
  margin: 0 0 20px;
  padding: 70px 0 200px 0;
  position: relative;
  background: transparent;
}

@media (max-width: 768px) {
  #video-container {
    height: 300px;
  }
  #banner {
    padding: 70px 0 100px 0;
  }
}
