<div id="aboutme" class="entry-content">
    {% if AVATAR %}
        <p>
            <img width="100%" class="img-thumbnail" src="{{ SITEURL }}/{{ AVATAR }}"/>
        </p>
    {% endif %}
    {% if ABOUT_ME %}
    <p>
        {{ ABOUT_ME }}
    </p>
    {% endif %}
</div>
