{% extends "page.html" %}

{% block content %}

<!-- header part: original bootstrap pages content block -->
<section id="content" class="body">
    {% if page.title %}
        <h1 class="entry-title">{{ page.title }}</h1>
    {% endif %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if PDF_PROCESSOR %}
        <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
            get the pdf
        </a>
    {% endif %}
    <div class="entry-content">
    
{% if CV_NAVBAR %}
    <div id="nav-btns" class="second-nav" markdown="1">
      {% for section in yaml['sections'] %}
        <a class="btn btn-default btn-sm noline spaced" href="#{{ section['title']|clean }}">{{ section['title'] }}</a>
      {% endfor %}
    </div>
{% endif %}

{% for section in yaml['sections'] %}
  <div class="var-margin" id="{{ section['title']|clean }}"></div>
  <h2 class="extendable-section">
    <a class="noline" data-toggle="collapse" href="#{{ section['title']|clean }}-list" aria-expanded="true" aria-controls="{{ section['title']|clean }}-list">
      {{ section['title'] }}
    </a>
  </h2>
  <hr>

  <div style="clear:both" id="{{ section['title']|clean }}-list" class="collapse in">

    {% for element in section['elements'] %}
      {% include 'cventry.html' with context %}
    {% endfor %}

    {% for subsection in section['subsections'] %}
      <h3 class="extendable-section" id="{{ subsection['title']|clean }}">
      <a class="noline" data-toggle="collapse" href="#{{ subsection['title']|clean }}-list" aria-expanded="true" aria-controls="{{ subsection['title']|clean }}-list">
        {{ subsection['title'] }}
      </a>
      </h3>
      <div id="{{ subsection['title']|clean }}-list" class="collapse in">
        {% for element in subsection['elements'] %}
          {% include 'cventry.html' with context %}
        {% endfor %}
      </div>
    {% endfor %}<!-- subsections -->
  </div>
  
{% endfor %} <!-- sections -->

        {% if page.comments == 'enabled' %}
            {% include 'includes/comments.html' %}
        {% endif %}
    </div>
</section>

{% endblock %}
