<div class="row">
<div class="col-xs-2" style="text-align: right;">
{% if element['date'] %}{{ element['date'] }}{% endif %}
</div>
<div class="col-xs-9">
  <p>
  {% if element['title'] %}<strong>{{ element['title']|md }}</strong>{% endif %}
  {% if element['comment'] %} ({{ element['comment']|md }}){% endif %}
  {% if element['entry'] %}:
    {{ element['entry']|md }}
  {% elif element['details'] %}
    <div data-toggle="collapse" data-target="#{{ element['details']|replace(" ", "") }}"><a>{{ element['details'] }}</a></div>
      <div style="clear:both" id="{{ element['details']|replace(" ", "") }}" class="collapse">
      <ul>
      {% for detail in element['elements'] %}
      <li>
        {% if detail['date'] %}{{ detail['date'] }} {% endif %}
        {% if detail['title'] %}<strong>{{ detail['title']|md }}</strong>{% endif %}
        {% if detail['comment'] %} ({{ detail['comment']|md }}){% endif %}
        {% if detail['entry'] %}: {{ detail['entry']|md }}{% endif %}
      </li>
      {% endfor %}
      </ul>
    </div>
  {% else %}
      <br>
      {{ element['institution' ]|md }}{% if element['project'] %},<br>{{ element['project']|md }}{% endif %}
      {% if element['location'] %}
        <br>
        {{ element['location']|md }}
      {% endif %}
  {% endif %}
  </p>

  {% if element['summary'] %}
  <p>
    {% set this_target = (element['title'] + '-' + element['summary'])|replace(' ', '') | clean %}
    <div data-toggle="collapse" data-target="#{{ this_target }}" class="extendable-section">
      <a><em>{{ element['summary'] }}</em></a>
    </div>
  </p>
  <p>
    <div style="clear:both" id="{{ this_target }}" class="collapse">
      {{ element['description']|md }}
    </div>
  </p>
  {% else %}
    {% if element['description'] %}
      <p>
        <em>{{ element['description']|md }}</em>
      </p>
    {% endif %}
  {% endif %}
</div>
<div class="col-xs-1"></div>
</div>


