{% extends "page.html" %}

{% block content %}

<!-- header part: original bootstrap pages content block -->
<section id="content" class="body">
    {% if page.title %}
        <h1 class="entry-title">{{ page.title }}</h1>
    {% endif %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if PDF_PROCESSOR %}
        <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
            get the pdf
        </a>
    {% endif %}
    <div class="entry-content">
        {{ page.content }}

<!-- add header navbar -->
{% if PUBLICATIONS_NAVBAR %}
    <div id="nav-btns" class="second-nav" markdown="1">
      {% for bib in publications|sort %}
        <a class="btn btn-default btn-sm noline spaced" href="#{{ bib }}">{{ publications[bib]['title'] }}</a>
      {% endfor %}
    </div>
{% endif %}

<div class="row">
  <div class="col-xs-12">
    <p>Frank has authored {{ yaml.meta.metrics['papers'] }} peer-reviewed scientific papers with more than {{ yaml.meta.metrics['collaborators'] }} co-authors, including {{ yaml.meta.metrics['journals'] }} journal articles, {{ yaml.meta.metrics['conferences'] }} conference and {{ yaml.meta.metrics['workshops'] }} workshop contributions. According to <a href="https://scholar.google.co.uk/citations?user={{ yaml.meta['scholar_id'] }}">Google Scholar</a> ({{ yaml.meta.metrics['updated'] }}), his work has been cited {{ yaml.meta.metrics['citations'] }} times (h-index: {{ yaml.meta.metrics['hindex'] }}).</p>
  </div>
</div>

<!-- add publication list -->

{% for bib in publications|sort %}
    <div class="var-margin" id="{{ bib }}"></div>
    <div class="publications">
        {% if publications[bib]['header'] %}
          <h2 class="extendable-section" id="{{ publications[bib]['title']|clean }}">
            <a class="noline" data-toggle="collapse" href="#{{ publications[bib]['title']|clean }}-list" aria-expanded="true" aria-controls="{{ publications[bib]['title']|clean }}-list">
              {{ publications[bib]['title'] }}
            </a>
          </h2>
          <hr>
        {% endif %}
        <div id="{{ publications[bib]['title']|clean }}-list" class="collapse in">
        {% if publications[bib]['split'] %}
            {% set remember = namespace(year="0", ws=None) %}
            {% for key, type, year, text, tags, display_tags, supplements, bibtex, pdf, slides, poster, doi, url in publications[bib]['data'] %}
                {% if remember.year != year %}
                    {% if remember.year !="0" %}
                        {% if remember.ws %}
                          {% set remember.ws=remember.ws + "</div>" %}
                          {{ remember.ws }}
                          {% set remember.ws=None %}
                        {% endif %}
                        </ul>
                    {% endif %}
                    <h3 class="extendable-section" id="{{ year|clean }}">
                      <a class="noline" data-toggle="collapse" href="#{{ year|clean }}-list" aria-expanded="true" aria-controls="{{ year|clean }}-list">
                        {{ year|title }}
                      </a>
                    </h3>
                    <ul id="{{ year|clean }}-list" class="collapse in">
                    {% set remember.year=year %}
                {% endif %}

                {% set doi_access = 'fa-unlock' if ('doi-open' in tags) else 'fa-lock' %}
                {% set doi_button = 'btn-success' if ('doi-open' in tags) else 'btn-warning' %}
                {% set url_access = 'fa-unlock' if ('url-open' in tags) else 'fa-lock' %}
                {% set url_button = 'btn-success' if ('url-open' in tags) else 'btn-warning' %}

                {% if url or doi or year|lower == "in press" or year|lower == "under review" %}
                <li style="margin: 15px 0;" id="{{ key }}">
                    {% if "selected" in display_tags %}<div class="alert alert-info"><i class="star fa fa-star"></i>{% endif %}

                    <!-- reference entry -->
                    <div class='breaklinks'>{{ text }}</div>

                    <!-- external link buttons -->
                    {% if year|lower != "in press" %}
                      {{ "<a class='btn btn-xs %s' href=\"https://dx.doi.org/%s\"><i class='fa %s'></i>&nbsp;DOI</a>" % (doi_button, doi, doi_access) if doi }}
                      {{ "<a class='btn btn-xs %s' href=\"%s\"><i class='fa %s'></i>&nbsp;URL</a>" % (url_button, url, url_access) if url }}
                    {% endif %}

                    <!-- local download buttons -->
                    {% for label, target in [('Preprint', pdf), ('Slides', slides), ('Poster', poster)] %}
                        {{ "<a class='btn btn-xs btn-info' href=\"%s\"><i class='fa fa-download'></i>&nbsp;%s</a>" % (target, label) if target }}
                    {% endfor %}

                    {% for target in supplements %}
                      {% if "youtube" in target %}
                        <a class='btn btn-xs btn-info' data-toggle="collapse" data-target="#{{ key }}-embed"><i class='fa fa-expand'></i>&nbsp;YouTube</a>
                        <div style="clear:both; margin-top: 3px; margin-bottom: 9px;" class="collapse"  id="{{ key }}-embed">
                          <iframe style="border-width: 0px;" src="{{ target }}" allowfullscreen seamless></iframe>
                        </div>
                      {% else %}
                        <a class='btn btn-xs btn-info' href="{{ target }}"><i class='fa fa-download'></i>&nbsp;Supplement</a>
                      {% endif %}
                    {% endfor %}

                    <!-- bibtex button -->
                    <a class="btn btn-xs btn-default" data-toggle="collapse" data-target="#{{ key }}-bib"><i class='fa fa-expand'></i>&nbsp;BibTeX</a>

                    <!-- tags -->
                    {% if display_tags|length > 0 %}
                      <span class='pull-right'>
                      {% for tag in display_tags %}
                        {% if "open" in tag %}
                          <span class='badge bg-tag'><img style="height: 1em;" src="{{ SITEURL }}/images/oa.png">&nbsp;{{ tag }}</span>
                        {% elif not "selected" in tag%}
                          {% if "thesis" in tag %}
                            {% set tag_icon = 'fa-user' %}
                          {% elif "conference" in tag %}
                            {% set tag_icon = 'fa-users' %}
                          {% elif "workshop" in tag %}
                            {% set tag_icon = 'fa-users' %}
                          {% elif "journal" in tag %}
                            {% set tag_icon = 'fa-book' %}
                          {% elif "selected" in tag %}
                            {% set tag_icon = 'fa-star" style="color: darkorange;' %}
                          {% elif "candidate" in tag %}
                            {% set tag_icon = 'fa-star" style="color: silver;' %}
                          {% elif "best paper" in tag %}
                            {% set tag_icon = 'fa-star" style="color: gold;' %}
                          {% else %}
                            {% set tag_icon = 'fa-tag' %}
                          {% endif %}
                          <span class='badge bg-tag'><i class="fa {{ tag_icon }}"></i>&nbsp;{{ tag }}</span>
                        {% endif %}
                        {% if not loop.last %}&nbsp;{% endif %}
                      {% endfor %}
                      </span>
                    {% endif %}

                    <!-- collapsible bibtex entry -->
                    <div style="clear:both; margin-top: 3px; margin-bottom: 9px;" id="{{ key }}-bib" class="collapse">
                        {% set bibtex = '```tex\n' + bibtex + '\n```' %}
                        {{ bibtex|md }}
                        <button tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Copied BibTeX entry to clipboard!" style="margin-top: -6px;" class="btn btn-xs btn-default" onclick="copyTextFunction('{{ key }}-bib')"><i class='fa fa-clipboard'></i>&nbsp;Copy to clipboard</button>
                    </div>
                    <div style="clear:both"></div>

                    {% if "selected" in display_tags %}</div>{% endif %}
                </li>
                {% else %}
                {% if not remember.ws %}
                  {% set remember.ws=
                    "<div data-toggle=\"collapse\" data-target=\"#ws" +
                    year|clean +
                    "\"><a>Further (not indexed)</a></div><div style=\"clear:both\" id=\"ws" +
                    year|clean +
                    "\" class=\"collapse\">"
                   %}
                   {% if url %}
                    {% set remember.ws = remember.ws + "<a class='btn btn-xs btn-success' href=\"" + url + "\">Publication</a>" %}
                   {% endif %}
                {% endif %}
                  {% set remember.ws = remember.ws +
                     "<li><div class='breaklinks'>" +
                     text +
                     "</div></li>"
                  %}
                  {% for label, target in [('Preprint', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {% if target %}
                      {% set remember.ws = remember.ws +
                         "<a class='btn btn-xs btn-info'
                             href=\"" + target + "\">" +
                             label +
                         "</a>"
                      %}
                    {% endif %}
                  {% endfor %}
                   {% set bibtex = '```tex\n' + bibtex + '\n```' %}
                   {% set remember.ws = remember.ws +
                      "<a class=\"btn btn-xs btn-default\"
                          data-toggle=\"collapse\"
                          data-target=\"#" +  key + "-bib\"><i class='fa fa-expand'></i>&nbsp;BibTeX</a>
                      <div style=\"clear:both\" id=\"" + key + "-bib\" class=\"collapse\">" +
                      bibtex|md +
                      "</div>"
                   %}
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <ul>
                {% for key, type, year, text, tags, display_tags, supplements, bibtex, pdf, slides, poster, doi, url in publications[bib]['data'] %}

                  {% set doi_access = 'fa-unlock' if ('doi-open' in tags) else 'fa-lock' %}
                  {% set doi_button = 'btn-success' if ('doi-open' in tags) else 'btn-warning' %}
                  {% set url_access = 'fa-unlock' if ('url-open' in tags) else 'fa-lock' %}
                  {% set url_button = 'btn-success' if ('url-open' in tags) else 'btn-warning' %}

                  <li style="margin: 5px 0;" id="{{ key }}">

                      <!-- reference entry -->
                      <div class='breaklinks'>{{ text }}</div>

                      <!-- external link buttons -->
                      {% if year|lower != "in press" %}
                        {{ "<a class='btn btn-xs %s' href=\"https://dx.doi.org/%s\"><i class='fa %s'></i>&nbsp;DOI</a>" % (doi_button, doi, doi_access) if doi }}
                        {{ "<a class='btn btn-xs %s' href=\"%s\"><i class='fa %s'></i>&nbsp;URL</a>" % (url_button, url, url_access) if url }}
                      {% endif %}

                      <!-- local download buttons -->
                      {% for label, target in [('Preprint', pdf), ('Slides', slides), ('Poster', poster)] %}
                          {{ "<a class='btn btn-xs btn-info' href=\"%s\"><i class='fa fa-download'></i>&nbsp;%s</a>" % (target, label) if target }}
                      {% endfor %}

                      <!-- bibtex button -->
                      <a class="btn btn-xs btn-default" data-toggle="collapse" data-target="#{{ key }}-bib"><i class='fa fa-expand'></i>&nbsp;BibTeX</a>

                      <!-- tags -->
                      {% if display_tags|length > 0 %}
                        <span class='pull-right'>
                        {% for tag in display_tags %}
                          {% if "open" in tag %}
                            <span class='badge bg-tag'><img style="height: 1em;" src="{{ SITEURL }}/images/oa.png">&nbsp;{{ tag }}</span>
                          {% else %}
                            {% if "thesis" in tag %}
                              {% set tag_icon = 'fa-user' %}
                            {% elif "conference" in tag %}
                              {% set tag_icon = 'fa-users' %}
                            {% elif "workshop" in tag %}
                              {% set tag_icon = 'fa-users' %}
                            {% elif "journal" in tag %}
                              {% set tag_icon = 'fa-book' %}
                            {% elif "selected" in tag %}
                              {% set tag_icon = 'fa-star" style="color: darkorange;' %}
                            {% elif "best paper" in tag %}
                              {% set tag_icon = 'fa-star" style="color: darkorange;' %}
                            {% else %}
                              {% set tag_icon = 'fa-tag' %}
                            {% endif %}
                            <span class='badge bg-tag'><i class="fa {{ tag_icon }}"></i>&nbsp;{{ tag }}</span>
                          {% endif %}
                          {% if not loop.last %}&nbsp;{% endif %}
                        {% endfor %}
                        </span>
                      {% endif %}

                      <!-- collapsible bibtex entry -->
                      <div style="clear:both; margin-top: 3px; margin-bottom: 9px;" id="{{ key }}-bib" class="collapse">
                          {% set bibtex = '```tex\n' + bibtex + '\n```' %}
                          {{ bibtex|md }}
                          <button style="margin-top: -6px;" class="btn btn-xs btn-default" onclick="copyTextFunction('{{ key }}-bib')"><i class='fa fa-clipboard'></i>&nbsp;Copy to clipboard</button>
                      </div>
                    <div style="clear:both"></div>
                      
                  </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endfor %}

<!-- footer part: original bootstrap pages content block -->
        {% if page.comments == 'enabled' %}
            {% include 'includes/comments.html' %}
        {% endif %}
    </div>
</section>

{% endblock %}
